.added-items {
    margin-top: 150px;
}

.cart {
    max-width: 80%;
}

.cart-header {
    background-color: rgb(52, 58, 64);
    color: rgb(182, 180, 179);
    border-radius: 6px 6px 0px 0px;
}

.empty-cart {
    background-image: linear-gradient(to right, #5c4ef5, #e85826);
    color: #fff;
    border: none;
    /* border-radius: 5px; */
}

.cart-empty {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nodata {
    font-size: 40px;
    font-weight: 700;
    opacity: 0.5;
}

.empty-cart .empty-title {
    font-size: 18px;
}



.hotel-name,.hotel-price,.view,.hotel-delete{
    margin-top: 10px !important;
}

tr {
    color: black;
}

.hotel-img img {
    height: 40px;
    width: 40px;
}
.hotel-delete{
    border: none;
    background-color: transparent !important;
}
.view{
    border: none;
    background-color: transparent !important;
}
.view a{
    color: #5c4ef5 !important;
    text-decoration: none;
}





@media (max-width: 768px) {
    .cart {
        max-width: 100%;
    }
}

@media (max-width: 992px) {
    .toggle-items {
        margin-left: 40px;
    }

    .seach-button {
        margin-top: 10px;
    }

    .enter-info {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
@media (max-width:370px) {
    .nodata{
        font-size:35px;
    }
}