/* navbar  */

.navbar {
    background-color: rgb(0,59,149) !important;
    padding: 0px !important;
    color: white !important;
    /* position: fixed; */
}

a {
    color: white !important;
}

.logo-img {
    width: 200px !important;
}

.navbar-nav button {
    background-color: rgb(251, 251, 251) !important;
    border: none;
    padding: 8px 13px;
    border-radius: 5px;
}

.login-btn {
    position: relative;
}
.login-btn button{
    font-weight: 600;
}
.login-btn .show{
    display: block;
}

.login-form {
    position: absolute;
    right: 5%;
    z-index: 999;
    padding: 20px 30px;
    border-radius: 5px;
    top: 110%;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.login-form input {
    border: 1px solid rgba(5,32,60);
    padding: 3px 15px;
    margin-bottom: 20px;
    border-radius: 2px;
}

.submit-btn button {
    color: #fff;
    background-color: rgb(0,59,149) !important;
}
.login-btn .hide{
    display: none;
}
.login-btn .show{
    display: block;
}
.form .register {
    color: black;
    span{
        color: Blue;
    }
}