.Error-page h3 {
    font-size: 30px;
    font-weight: 700;
}

.Error-page p {
    color: gray;
}

.Error-page,.back-to-homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 110px;
    flex-direction: column;
}

.back-to-homepage button {
    border: none;
    color: #fff;
    padding: 12px 10px;
    border-radius: 8px;
    background-color: #006ce4;
}